# Twitter API config
config.json
data_collection/config.json

# Jetbrains Pycharm config
.idea/
data_collection/.idea/

# Pycharm virtual environment
venv/
data_collection/venv/

# Scripts
commit.sh
pull.sh
data_collection/commit.sh
data_collection/pull.sh

# Jupyter notebook
.ipynb_checkpoints/
data_collection/.ipynb_checkpoints/

# out folders
out/
out_complete/

# datos.gob.mx files
datos.gob.mx
